.main-div {
  /* border: 5px solid green; */
  width: 80%;
  /* height: 100%; */
  margin: auto;
  background-image: url("https://images.pexels.com/photos/4004374/pexels-photo-4004374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-color: antiquewhite;
  border-radius: 20px;
  transition-duration: 20px;
  transition-property: all;
}
.main-div:hover {
  transition: 0.25 sec;
  border-radius: 20px;
  transition-duration: 20px;
  transition-property: all;
}
.Tododiv:hover {
  border: 1px solid yellow;
}
input[type="text"]:hover {
  transition: 0.28s;
  color: yellow;
  font-size: 20px;
  height: 30px;

  background-color: mediumpurple;
}
input {
  border-radius: 7px;
  transition: 0.28s;
}
i:hover {
  height: 10px;
  background-color: yellow;
}
.showitem,
.eachitem {
  width: 30%;
  color: gold;
  /* border: 4px pink solid; */
  display: flex;
  text-align: center;
  margin: auto;
  align-items: center;
  /* background-color: aliceblue; */
}
.Additems:hover {
  /* border: 5px solid blue; */
  width: 100%;
  color: green;
  font-style: bold;
  font-size: calc(10px + 2vmin);
}
.showitem:hover {
  /* border: 5px solid red; */
  width: 30%;
  margin: auto;
  align-items: center;
  text-align: center;
}

img {
  /* border: 1px solid red; */
  height: 150px;
  width: 150px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
